@import './media';





*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    transition: all 0.2s linear;
    position: relative!important;
    z-index: 1;
    width:100vw;
    overflow-x: hidden;

  }



  
  main{
    min-height: 100vh;
    height: auto;
    width:100%;
    overflow-y: hidden;
    overflow-x: hidden;
  
  
  
  }
  
  
  .page-btn{
    display: flex;
    position: fixed!important;
    right:3.4vw;
    top:3.7vw;
    z-index: 9999;
    width:9.7vw;
    min-width: 8rem;
  }
  
  
  .container{
    width:100%;
    padding: 0 4.4vw 0 4vw;
  }
  
  button{
    font-size: inherit;
    font-family: inherit;
    color:inherit;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    place-self: center;
    transition: all .6s ease;
  }
  
  
  // BELOW SHOULD BE MOVED TO MODULES
  // HOW TO DO THIS
  
  
  
