@import './media';





*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    transition: all 0.2s linear;
    position: relative!important;
    z-index: 1;
    width:100vw;
    overflow-x: hidden;

  }



  
  main{
    min-height: auto;
    height: auto;
    width:100%;
    overflow-y: hidden;
    overflow-x: hidden;
  
  
  
  }
  
  
  .page-btn{
    position: fixed!important;
    right:3.4vw;
    top:4.7vw;
    z-index: 9999;

    @include respond (desktop){
        top:6vw;
    }

    @include respond (desktopXS){
        top:7vw;
        right:4.4vw;
    }

    @include respond (tabletMediumHorizontal){
      top:11vw;
  }
  }

  .animated-btn{
    display: flex;
    width:9.7vw;
    min-width: 6rem;

    @include respond (tabletHorizontal){
      width:14vw;
  }
  }
  
  
  .container{
    width:100%;
    padding: 0 4vw 0 4vw;

    @include respond (desktopXS){
        padding: 0 5vw 0 5vw;
    }
  }
  
  button{
    font-size: inherit;
    font-family: inherit;
    color:inherit;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    place-self: center;
    transition: all .6s ease;
  }
  
  
  
  
