




body {
    color: $grey-dark;
    transition: all 0.2s linear;
    overflow-x: hidden;
  
  
    .overlay{
      background-color: $bg-light;
    }
   
     
  
  .intro span{
    color: $grey-dark;
  }
  
  
    span{
      svg{
        path{
          fill: $grey-dark;
        }
      }
    }
  
  
    .project-header,
    h1, h2, h4{
      color: $color;
    }
  
  
    .menu-link{
      &:hover{
        color:inherit;
      }
    }
  
    .menu-background{
      background-color: $white;
    }
  
    .line-intro{
      background-color: $grey-dark;
    }
    
  }
  
  
  body.dark {
    -webkit-font-smoothing: antialiased;
    background-color: $black;
    color:$white-dark;
  
    .intro span{
      color:$white-dark;
      
    }
  
    
    .overlay{
      background-color: $bg-dark;
    }
  
    .line-intro{
      background-color: $white-dark;
    }
    
  
  
    span{
      svg{
        path{
          fill: $white;
        }
      }
    }
  
  
    .project-header,
    h1, h2, h4{
      color: $color-lighter;
    }
  
    .menu-link{
      &:hover{
        color:inherit;
      }
    }
  
    .menu-background{
      background-color: $black;
    }
  }
  