$font-body: 'Outfit', sans-serif;
$font-headers: Scholastyca Typeface;
$primary-color: #333;
$color: #326DC5;
//$color-lighter:#3580C6;
$color-lighter:#3574D2;
$grey-dark:#3D484F;
$black:#1D2124;
$white:#F8F8F8;
$white-dark:#CCD7DE;
$border: solid .07rem rgba($color, .187);
$bg-light: #E3F1F8;
$bg-dark:#24292D;