
$font-body: 'Outfit', sans-serif;
$font-headers: Scholastyca Typeface;
$primary-color: #333;
$color: #1E6DB6;
//$color-lighter:#0E74D2;
$color-lighter:#0379E7;
$grey-dark:#3D484F;
$black:#1D2124;
$white:#F8F8F8;
$white-dark:#CCD7DE;
$border: solid .07rem rgba($color, .187);
$borderMobile: solid .03rem rgba($color, .187);
$bg-light: #E3F1F8;
$bg-dark:#24292D;

  