@use 'src/styles/abstracts' as *;

.projectDetails{
    display: flex;
    place-items: space-between;
    place-content: space-between;
    width:100%;
    height: auto;
    margin:14vw auto 14vw auto;

    @include respond (desktopXS){
        flex-direction: column;
    }

    @include respond (tabletHorizontal){
        margin:16vw auto 18vw auto;
    }

    @include respond (mobile){
        margin:18vw auto 30vw auto;
    }


}

.projectDetailsRight{
    flex-basis: 42%;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    place-content: space-between;

    @include respond (desktop){
        flex-basis: 39%;
    }

    @include respond (desktopXS){
        flex-basis: 100%;
        width:100%;
        order:2;
    }

    
}

.projectDetailsLeft{
    flex-basis: 47%;
    height: 100%;
    place-self: flex-end;

    @include respond (desktop){
        flex-basis: 52%;
    }

    @include respond (desktopXS){
        flex-basis: 100%;
        width:100%;
        place-self: flex-start;
        order:1;
        margin-top:4vw;
    }


    .projectDetailsHeader{
        display: flex;
        flex-direction: column;

        @include respond (desktopXS){
            width:70%;
        }

        @include respond (mobile){
            width:90%;
        }
    }

    

    
}



.projectDetailsOverview{
    width:100%;
    margin:4vw 0 0 0;

    



    .projectOverviewCard{
        width:100%;
        @include border-top; 
        padding: 2vw 3vw 2vw 0;
        display: flex;
        place-items: center;
        height: auto;

        @include respond (tabletHorizontal){
            padding: 4vw 3vw 4vw 0;
            width:77%;
        }

        @include respond (mobile){
            padding: 6vw 3vw 6vw 0;
        }



        .overviewName{
            padding-right: 5vw;

            @include respond (desktopXS){
                padding-right: 8vw;
            }
        }

        p{
            padding-right: 4vw;

            @include respond (desktopXS){
                padding-right: 6vw;
            }
        }
        

        

        &:last-child{
            @include border-bottom; 
        }

        .toolsList{
            display: flex;
            flex-wrap: wrap;
            width:100%;
        
            .toolSingle{
                display: flex;
                width: auto;
                margin-right: 1vw;

            }
        }
    }
}