@import 'src/styles/layout';

.projectDetails{
    display: flex;
    place-items: space-between;
    place-content: space-between;
    width:100%;
    height: auto;
    margin:12vw auto 14vw auto;

}

.projectDetailsLeft{
    flex-basis: 42%;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    place-content: space-between;

    @include respond (desktop){
        flex-basis: 39%;
    }

    
}

.projectDetailsRight{
    flex-basis: 47%;
    height: 100%;
    place-self: flex-end;

    @include respond (desktop){
        flex-basis: 52%;
    }

    .projectDescription{
        margin: 12vh auto auto auto;
        width:100%;
    }

    .projectDetailsHeader{
        display: flex;
        flex-direction: column;
    }

    

    
}



.projectDetailsOverview{
    width:100%;
    margin:4vw 0 0 0;


    .projectOverviewCard{
        width:100%;
        border-top:$border; 
        padding: 2vw 3vw 2vw 0;
        display: flex;
        place-items: center;


        .overviewName{
            padding-right: 5vw;
        }

        p{
            padding-right: 4vw;
        }
        

        

        &:last-child{
            border-bottom:$border; 
        }

        .toolsList{
            display: flex;
            flex-wrap: wrap;
            width:100%;
        
            .toolSingle{
                display: flex;
                width: auto;
                margin-right: 1vw;

            }
        }
    }
}