@import 'src/styles/layout';


.nextProjectSection{
    display: flex;
    flex-direction: column;
    place-content: center;
    width:90%;
    height: auto;
    margin:16vw 0 12vw auto;

    @include respond (tabletHorizontal){
        margin:26vw 0 16vw auto;
     }
 

    @include respond (mobile){
       width:100%;
       margin:30vw 0 16vw auto;
    }

    @include respond (mobileXS){
        width:100%;
     }

    
}


.nextProjectHeader{
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    place-content: flex-start;
    text-align: left;
    z-index: 2;
    margin-bottom: 4vw;

    @include respond (mobile){
        margin-bottom: 10vw;
     }

    .nextProjectHeaderWrapper{
        display: flex;
        place-items: center;
        @include fullWidth;

        h3{
            line-height: 1;
            margin-right: 3vw;
        }


    }



    
}


.nextProjectImage{
    display: flex;
    width:60%;
    margin: auto;
    z-index: 1;

    @include respond (desktopXS){
        width:77%;
    }

    img{
        width:100%;
        height: auto;
    }
}