@import 'src/styles/layout';

.projectDetails{
    display: flex;
    place-items: space-between;
    place-content: space-between;
    width:100%;
    height: auto;
    margin:10vw auto 14vw auto;

    @include respond (desktopXS){
        flex-direction: column;
    }


}

.projectDetailsRight{
    flex-basis: 42%;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    place-content: space-between;

    @include respond (desktop){
        flex-basis: 39%;
    }

    @include respond (desktopXS){
        flex-basis: 100%;
        width:100%;
        order:2;
    }

    
}

.projectDetailsLeft{
    flex-basis: 47%;
    height: 100%;
    place-self: flex-end;

    @include respond (desktop){
        flex-basis: 52%;
    }

    @include respond (desktopXS){
        flex-basis: 100%;
        width:100%;
        place-self: flex-start;
        order:1;
        margin-top:4vw;
    }

    .projectDescription{
        margin: 12vw 0 auto auto;
        width:100%;

        @include respond (desktopXS){
            margin: 12vw 0 12vw auto;
            width:76%;
        }
    }

    .projectDetailsHeader{
        display: flex;
        flex-direction: column;

        @include respond (desktopXS){
            width:70%;
        }
    }

    

    
}



.projectDetailsOverview{
    width:100%;
    margin:4vw 0 0 0;

    



    .projectOverviewCard{
        width:100%;
        border-top:$border; 
        padding: 2vw 3vw 2vw 0;
        display: flex;
        place-items: center;



        .overviewName{
            padding-right: 5vw;

            @include respond (desktopXS){
                padding-right: 8vw;
            }
        }

        p{
            padding-right: 4vw;

            @include respond (desktopXS){
                padding-right: 6vw;
            }
        }
        

        

        &:last-child{
            border-bottom:$border; 
        }

        .toolsList{
            display: flex;
            flex-wrap: wrap;
            width:100%;
        
            .toolSingle{
                display: flex;
                width: auto;
                margin-right: 1vw;

            }
        }
    }
}