
.gallerySwiper{
    height: auto;
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: 14vw;

}

.swiper{
    height: auto; 
    width: 100%;
    margin: 10vw auto 12vw auto;
    overflow: visible;
    
}

.slideGallery{
    width:75%;
    height: auto;

    button{
        width:100%;
        display: flex;
        position: relative!important;
        z-index: 1 ;
        
        .swiperImage{
            width:100%;

            img{
                width:100%;
            }
        }

        .swiperImageHover{
            display: flex;
            position: absolute;
            top:0;
            left:0;
            z-index: 2;
            transform: translate(-50% -50%);
            opacity: 0;
            visibility: hidden;

            img{
                width:100%;
            }

        }

        &:hover{

            .swiperImageHover{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
