@import 'src/styles/layout';

.sectionServices{
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;



.serviceMarqueeCard{
    display: flex;
    place-items: center;
    place-content: center;
    width: 165%;
    overflow-x: hidden;


    @include respond (desktopXS){
        width: 160%;
    }

    @include respond (tabletHorizontal){
        width: 180%;
    }

    @include respond (tabletMediumHorizontal){
        width:220%;
    }


    @include respond (mobile){
        width:230%;
    }



    &:nth-child(odd){
        border-top: $border;
        border-bottom:$border;

        @include respond (desktopXS){
            border-top: $border;
        }
    }

    &:first-child{
        border-top: none;

        @include respond (desktopXS){
            border-top: $border;
        }
    }

    &:last-child{
        border-bottom:$border;
    }

    

    .serviceSingleWrapper{
        display: flex;
        width:100%;
        place-self: center;
        place-items: center;
        place-content: center;
        padding: 4vw 0;
        //border-bottom:$border!important;
        overflow-y: visible;


        @include respond (mobile){
            padding: 6vw 0;
        }


    }




    }



}

