@use 'src/styles/layout';

.sectionFAQ{
    height: auto;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    margin: 0 auto 12vw auto;
}

.sectionHeader{
    width:40%;
    place-content: flex-start;
    place-items: center;
    place-self: flex-start;
    text-align: left;
}