@use 'src/styles/layout';



.technologies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    margin-top: 6vw;
}
.itemWrapper{
    padding: 3vw 2vw;
    width:100%;
    //border-top: layout.$border;
    border-bottom: layout.$border;
    display: flex;
    place-content: space-between;
    //text-align: center;


    &:first-child{
        border-top: layout.$border;
    }
    &:nth-child(2){
        border-top: layout.$border;
    }

    h5{
        &:first-child{
            text-align: center;
            opacity: .9;
        }
    }
}