.sectionDetails{
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width:100%;
    height: auto;
    margin: 10vw auto 0vw auto;


    h3{
        color:inherit;
        width:65%;
        margin: auto;
        text-align: center;
        margin: 0 auto 10vw;
    }


}
