@import 'src/styles/layout';

.sectionServices{
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    margin: 1vw auto 0 auto;



.serviceMarqueeCard{
    @include flex-center;
    width: 165%;
    overflow-x: hidden;


    @include respond (desktopXS){
        width: 175%;
    }

    @include respond (tabletHorizontal){
        width: 200%;
    }

    @include respond (tabletMediumHorizontal){
        width:250%;
    }


    @include respond (mobile){
        width:270%;
    }

    @include respond (mobileXS){
        width:280%;

    }



   

    .serviceSingleWrapper{
        @include fullWidth;
        @include flex-center;
        place-self: center;
        padding: 4vw 0;
        overflow-y: visible;
        @include border-bottom;


        @include respond (mobile){
            padding: 6vw 0;
        }


        @include respond (mobileXS){
            padding: 7vw 0;

        }

        

    }

    &:first-child{
        border-top: none;

        @include respond (desktopXS){
            @include border-top;
        }
    }




    }



}

