
$font-body: Outfit, sans-serif;
$font-headers: Scholastyca Typeface;
$primary-color: #333;
$color: #2283AC;
$color-lighter:#2C91BC;
$grey-dark:#3D484F;
$black:#1D2124;
$white:#F8F8F8;
$white-dark:#CCD7DE;
$border: solid .07rem rgba($color, .2);
//$color: #1E8BA3;
//$color-lighter:#229FBA;




@font-face {
  font-family: 'Scholastyca Typeface';
  src: url('/fonts/ScholastycaTypeface-Regular.eot');
  src: url('/fonts/ScholastycaTypeface-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ScholastycaTypeface-Regular.woff2') format('woff2'),
       url('/fonts/ScholastycaTypeface-Regular.woff') format('woff'),
       url('/fonts/ScholastycaTypeface-Regular.ttf')  format('truetype'),
       url('/fonts/ScholastycaTypeface-Regular.svg#Scholastyca Typeface') format('svg');
}

*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font: 100% $font-body;
  color: $grey-dark;
  padding: 1vw 3vw 0 3vw;
  font-size: calc( .4rem + .7vw);
  font-weight: 300;
  transition: all 0.2s linear;



  span{
    svg{
      path{
        fill: $grey-dark;
      }
    }
  }

  .project-header,
  h1, h2, h4{
    color: $color;
  }


  .menu-link{
    &:hover{
      color:inherit;
    }
  }

  .menu-background{
    background-color: $white;
  }

  .line-intro{
    background-color: $grey-dark;
  }
  
}



body.dark {
  -webkit-font-smoothing: antialiased;
  background-color: $black;
  color:$white-dark;

  .line-intro{
    background-color: $white-dark;
  }
  


  span{
    svg{
      path{
        fill: $white;
      }
    }
  }


  .project-header,
  h1, h2, h4{
    color: $color-lighter;
  }

  .menu-link{
    &:hover{
      color:inherit;
    }
  }

  .menu-background{
    background-color: $black;
  }
}

.container{
  width:100%;
  padding: 2% 1%;
}

button{
  font-size: inherit;
  font-family: inherit;
  color:inherit;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display: flex;
  place-self: center;
  transition: all .6s ease;
}


// BELOW SHOULD BE MOVED TO MODULES
// HOW TO DO THIS


.image01{
  bottom:0;
  left:0;
  width:19vw;
}

.image02{
  top:0;
  right:0;
  width:19vw;
}

.image03{
  top:60%;
  right:27%;
  width:14vw;
}

.image04{
  bottom:60%;
  left:27%;
  width:14vw;
}


.section{
  margin: 10vw auto;
}