
$font-body: Outfit, sans-serif;
$font-headers: Scholastyca Typeface;
$primary-color: #333;
$color: #2283AC;
$color-lighter:#2C91BC;
$grey-dark:#3D484F;
$black:#1D2124;
$white:#F8F8F8;
$white-dark:#CCD7DE;
$border: solid .07rem rgba($color, .2);
$bg-light: #E3F1F8;
$bg-dark:#24292D;
//$color: #1E8BA3;
//$color-lighter:#229FBA;




@font-face {
  font-family: 'Scholastyca Typeface';
  src: url('/fonts/ScholastycaTypeface-Regular.eot');
  src: url('/fonts/ScholastycaTypeface-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ScholastycaTypeface-Regular.woff2') format('woff2'),
       url('/fonts/ScholastycaTypeface-Regular.woff') format('woff'),
       url('/fonts/ScholastycaTypeface-Regular.ttf')  format('truetype'),
       url('/fonts/ScholastycaTypeface-Regular.svg#Scholastyca Typeface') format('svg');
}

*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



main{
  min-height: 100vh;
  height: auto;
  width:100%;
  overflow-y: hidden;
  overflow-x: hidden;



}


.page-btn{
  display: flex;
  position: fixed!important;
  right:3.6vw;
  top:3.7vw;
  z-index: 9999;
  width:9vw;
}






body {
  font: 100% $font-body;
  color: $grey-dark;
  font-size: calc( .2rem + .87vw);
  font-weight: 300;
  transition: all 0.2s linear;
  position: relative!important;
  z-index: 1;
  width:100vw;
  overflow-x: hidden;


  .overlay{
    background-color: $bg-light;
  }
 
   

.intro span{
  color: $grey-dark;
}


  span{
    svg{
      path{
        fill: $grey-dark;
      }
    }
  }


  .project-header,
  h1, h2, h4{
    color: $color;
  }


  .menu-link{
    &:hover{
      color:inherit;
    }
  }

  .menu-background{
    background-color: $white;
  }

  .line-intro{
    background-color: $grey-dark;
  }
  
}


body.dark {
  -webkit-font-smoothing: antialiased;
  background-color: $black;
  color:$white-dark;

  .intro span{
    color:$white-dark;
    
  }

  
  .overlay{
    background-color: $bg-dark;
  }

  .line-intro{
    background-color: $white-dark;
  }
  


  span{
    svg{
      path{
        fill: $white;
      }
    }
  }


  .project-header,
  h1, h2, h4{
    color: $color-lighter;
  }

  .menu-link{
    &:hover{
      color:inherit;
    }
  }

  .menu-background{
    background-color: $black;
  }
}

.container{
  width:100%;
  padding: 0 4.4vw 0 4vw;
  //margin: auto;
}

button{
  font-size: inherit;
  font-family: inherit;
  color:inherit;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display: flex;
  place-self: center;
  transition: all .6s ease;
}


// BELOW SHOULD BE MOVED TO MODULES
// HOW TO DO THIS



.section{
  position: relative;
  z-index: 1;
  min-height: 100vh;
  margin: auto;
  display: flex;
  place-items: center;
  place-content: center;
  text-align: center;
}