@use 'layout';

.menu-link,
h1, h2, h3, h4, h5, h6{
    font: 100% layout.$font-headers;
    line-height: 1;
}

h1{
    font-size: calc(1rem + 27vw);
    line-height:1.1;
    text-align: center;
    padding-top: .8%;
}
  

h2{
    font-size: calc(1rem + 14vw);
    line-height:1.1;
    padding-top: 2%;
}


h3{
    font-size: calc(1rem + 10vw);
    line-height:1.1;
}

.menu-link,
h4{
    font-size: calc(1rem + 5.6vw);
    line-height:1.1;
    text-align: center;
}
  

h5{
    font-size: calc(1rem + 1.6vw);
    line-height:1.1;
}


a,
.menu-link{
    color: inherit;
    text-decoration:none;
    padding-bottom: 1%;

}
  
  
  
  
  
  