@use 'layout';


figcaption{
    font-size: calc( .4rem + .4vw);
    text-transform: uppercase;
}

.intro span,
.testimonial,
.link,
.menu-link,
h1, h2, h3, h4, h5, h6{
    font: 100% layout.$font-headers;
}

h1{
    font-size: 27vw;
    text-align: center;
    padding: 5vw 0 0 0;
    line-height: .8;
}
  

h2{
    font-size: calc(.6rem + 9vw);
}

.header-features{
    font-size: calc(.6rem + 7vw);
    line-height: 1;
    padding-top: 0;
    text-transform: uppercase;
}


.project-header{
    font-size: calc(.6rem + 6vw);
}


.menu-link,
h3{
    font-size: calc(.6rem + 4.8vw);
    line-height:1.1;
}


.banner-header{
    text-align: center;
    color:inherit;
}



h4{
    font-size: calc(.6rem + 3.8vw);
}

h4{
    line-height:1.1;
}

.intro span,
.testimonial{
    font-size: calc(.6rem + 3vw);
    line-height: .7;
}

  
.link,
h5{
    font-size: calc(.6rem + 1.6vw);
    line-height:1.1;
}


a,
.menu-link{
    color: inherit;
    text-decoration:none;
}
  
p{
    line-height: 1.67;
}

.text-uppercase{
    text-transform:uppercase;
}

  
  
  
  
  