@use 'layout';

.menu-link,
h1, h2, h3, h4, h5, h6{
    font: 100% layout.$font-headers;
    line-height: 1;
}

h1{
    font-size: 28vw;
    text-align: center;
    padding: 5vw 0 0 0;
    line-height: .8;
}
  

h2{
    font-size: calc(.6rem + 9.7vw);
    padding-top: 4%;
}



.menu-link,
h3{
    font-size: calc(.6rem + 4.2vw);
    line-height:1.1;
}


.banner-header{
    padding: 2% 0 1.6% 0;
    width:82%;
    margin: auto;
    text-align: center;
    color:inherit;
}

h4{
    font-size: calc(.6rem + 3.2vw);
    line-height:1.1;
}

  

h5{
    font-size: calc(.6rem + 1.6vw);
    line-height:1.1;
}


a,
.menu-link{
    color: inherit;
    text-decoration:none;
}
  
p{
    line-height: 1.67;
}

  
  
  
  
  