@import 'src/styles/layout';

.projectBanner{
    width:100%;
    height: auto;
    margin: 11vw auto 4vw auto;


    @include respond (desktopXS){
      margin: 16vw auto 4vw auto;
    }

    @include respond (tabletHorizontal){
      margin: 20vw auto 4vw auto;
    }
    @include respond (tabletMediumHorizontal){
      margin: 24vw auto 4vw auto;
    }

    @include respond (mobile){
     margin: 34vw auto 6vw auto;
    }

    @include respond (mobileXS){
      margin: 44vw auto 6vw auto;
     }


}


.projectBannerHeader{
    width:100%;
    display: flex;
    place-items: flex-end;
    margin-bottom: 4vw;
    flex-basis: auto;


    @include respond (desktopXS){
      flex-direction: column;
      place-items: flex-start;
    }

    @include respond (mobile){
      flex-direction: row;
      place-content: space-between;

    }



    
  }
  
  
  .projectBannerDetails{
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    place-self: center;
    place-items: flex-start;
    margin:2vw 0 0 7vw;
    justify-items: space-between;

    @include respond (desktopXS){
      width:100%;
      margin:2vw 0 0 0;
    }

    @include respond (mobile){
      width: auto;
      place-self: flex-end;
      margin-left: 1vw;
    }
  
    p{
      margin-bottom: 1rem;

      @include respond (desktopXS){
        margin-bottom: .4rem;
      }

      @include respond (tabletHorizontal){
        margin-bottom: .1rem;

      }

    }
    
  }
  
  .projectImageContainer{
    width:100%;
  }

  .servicesList{
    display: flex;
    width: 100%;

    .serviceSingle{
      margin-right: 1vw;
    }
  }
  

