@import 'src/styles/layout';



.faqWrapper{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    place-self: flex-end;
    width:100%;
    height: auto;


    .faqItem{
        width:100%!important;
        display: flex;
        flex-direction: column;
        place-content: center;
        padding: 2.4vw 0;
        border-bottom: $border;

        @include respond (desktop){
            padding: 3vw 0;
        }

        @include respond (tabletMediumHorizontal){
            padding: 5vw 0;
        }

        @include respond (mobile){
            padding: 6vw 0;
        }




        .question{
            display: flex;
            width:100%;
            justify-content: space-between;
            place-items: center;
            text-align: left;

            h5{
                line-height: 1.4;
                width:88%;

            }
        }
    
        .answerWrapper{
            display: flex;
            width:95%;
            place-self: flex-start;
            height: auto;
            margin: 1vw 0;

            @include respond (tabletHorizontal){
                margin: 2vw 0;
            }

            @include respond (tabletMediumHorizontal){
                margin: 3vw 0;
            }

            @include respond (mobile){
                width:100%;
                margin: 5vw 0;
            }


            .answer{
                width:100%;
                height: auto;
                padding: 0;
                margin: 0;

                p{
                    width:100%;
                    height: auto;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }



}


.faqSection{
    width:60%;
    margin: 8vw auto 6vw auto;

    @include respond (desktop){
        width:65%;
    }


    @include respond (tabletHorizontal){
        width:75%;
    }

    @include respond (tabletHorizontal){
        width:87%;
        margin: 10vw auto 6vw auto;
    }

    @include respond (mobile){
        width:90%;
        margin: 22vw 0 22vw auto;
    }


}



.faqPage{
    width:90%;
    place-self: flex-start;
    margin: 6vw 12vw 6vw auto;

    @include respond (desktopXS){
        width:100%;
    }

   
}


