@import 'src/styles/layout';

.navbar{
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0%;
    padding: 2vw 4vw;
    z-index: 999;


    @include respond (desktopXS){
        padding: 2.6vw 5vw;
    }

    @include respond (tabletMediumHorizontal){
        padding: 5vw;
    }

    @include respond (mobile){
        padding: 10.4vw 5vw 3.3vw 5vw;
    }


    @include respond (mobileXS){
        padding: 12.4vw 5vw 3.3vw 5vw;
    }

    @include respond (mobileLandscape){
        padding: 2.6vw 5vw;
    }


}


.buttonsWrapper{
    display: flex;


    a{
        margin:auto 2vw auto 2vw;
        display: flex;
        place-self: center;
        cursor: pointer;
    
    }

    .themeToggler{
        position: relative;
        z-index: 999;
       
    }


    

}












