.serviceSingle{
    display: flex;
    width:auto;
    place-self: center;
    place-items: center;
    place-content: center;

    h4{ 
        display: flex;
        width: auto!important;
        place-content: center;
    }
 
}