.sectionAbout{
    width:100%;
    /*display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    place-items: center;
    margin: 10vw auto 22vw auto;
    height: 130vh;*/
    //max-height: 100rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width:100%;
    height: auto;
    margin: 12vw auto 12vw auto;



    .sectionHeader{
        //grid-column: 1/-1;
        //grid-row: auto;
        width:60%;
        text-align: center;
        margin: auto;
        height: auto;

        p{
            margin-bottom: 2vw;
        }
    }

    



}

