@import 'src/styles/layout';

.sectionTestimonial{
    margin:0 auto 14vw auto;

    @include respond (desktopXS){
        margin:20vw auto 20vw auto;
    }

    @include respond (tabletMediumHorizontal){
        margin: 20vw auto 30vw auto;
    }


    @include respond (mobile){
        margin:30vw auto 30vw auto;
    }
}

.sectionTestimonialProject{
    margin:10vw auto 0 auto;


    
}

.quoteIcon{
    width:14vw;
    height: auto;
    display: flex;

    path{
        width:100%;
        height: auto;
    }
}

.testimonialWrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    place-self: center;
    margin: auto;
 
    
   

    .testimonialText{
        display: flex;
        place-content: center;
        text-align: center;
        margin: auto;
        position: relative;
        z-index: 1;
        margin-bottom: 1vw;
        width:100%;

        @include respond (desktop){
            margin-bottom: 5vw;
        }
        

        .testimonialTextPortable{
            width:100%;
            display: flex;
            flex-direction: column;
            place-items: center;
            text-align: center;
            place-content: center;
            
            p{
                line-height: 1.4;
            }
        }



        .quoteIconProject{
            position: absolute;
            z-index: -1;
            top:22%;
            left:50%;
            transform: translate(-50%, -50%);
            margin-top: 2vw;
           
        }

      
    }


    .testimonialTextProject{
        width:72%;


        @include respond (desktop){
            width:80%;
        }

        @include respond (tabletHorizontal){
            width:94%;
        }



        .quoteIconProject{
            position: absolute;
            z-index: -1;
            top:22%;
            left:50%;
            transform: translate(-50%, -50%);
            margin-top: 2vw;
           
        }

      
    }



    .clientsDetails{
        display: flex;
        flex-direction: column;
        place-self: center;
        place-items: center;
        place-content: center;

        .testimonialServicesList{
            display: flex;

            .serviceSingle{

                display: flex;
                padding-left: 2rem;
                font-style: italic;

                @include respond (mobile){
                    padding-left: 1rem;
                }


                
            }
        }
    }
}



.testimonialTextHome{
    width:100%;

    @include respond (tabletHorizontal){
        position: relative!important;
        z-index: 2;
        place-content: flex-start;
        place-items: flex-start;
        place-self: flex-start;
        width:110%;
    }

   
    .quoteIconLeft{
        place-self: flex-start;
        transform: translateX(7vw);

        @include respond (tabletHorizontal){
            position: absolute;
            top:-2vw;
            left:-9vw;
            z-index: 1;
        }
    
    }

    .quoteIconRight{
     place-self: flex-end;
        transform: translate(-11.7vw, 5.7vw);

        @include respond (desktopL){
            transform: translate(-6vw, 5.7vw);
        }

        @include respond (desktop){
            transform: translate(-30vw, 5.7vw);
        }

        @include respond (desktopM){
            transform: translate(-22vw, 5.7vw);
        }

        @include respond (desktopXS){
            transform: translate(-13vw, 5.7vw);
        }

        @include respond (tabletHorizontal){
            transform: translate(-12vw, 5.7vw);
        }

        @include respond (tabletHorizontal){
            position: absolute;
            bottom:-1vw;
            right:5vw;
            z-index: 1;
        }

        @include respond (tabletMediumHorizontal){
            bottom:-1vw;
            right:-9vw;
            z-index: 1;
        }



       
    }

   
}



.testimonialImage{
    width:5vw;
    height: 5vw;
    border-radius: 50rem;
    margin-bottom: 1vw;

    @include respond (desktop){
        width:9vw;
        height: 9vw;
    }

    @include respond (desktopXS){
        width:12vw;
        height: 12vw;
        margin-bottom: 1rem;
    }


    @include respond (mobile){
        width:20vw;
        height: 20vw;
    }


}


