@import 'src/styles/layout';

.sectionIntro{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    min-height: 20vw;
    transform-origin: top;
    margin-bottom: 7vw;

    @include respond (desktopXS){
        margin-bottom: 10vw;
    }

    .line{
        height: 10vw;
        width: .07rem;
        background-color: $grey-dark;
        display: block;
        margin: 2vw auto;

        @include respond (desktopXS){
            height:17vw;
        }
    }

    
}