
@import 'src/styles/layout';


.sectionContentWrapper{

    width:100%;
    height: 116vh;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap:0;


    @include respond (desktopXL){
        height: 120vh;
        max-height: 98rem;
    }


    @include respond (desktopL){
        height: 76rem;
        max-height: auto;
    }

    @include respond (desktop){
        height: 68rem;
     }

     @include respond (desktopXS){
        height: 70rem;

    }

    @include respond (tablet){
        height: 67rem;

     }


    .aboutImageOne{
        grid-column:1/7;
        grid-row: auto;
        width:100%;
        height: auto;
        display: flex;
        place-self: flex-start;

        @include respond (desktopXS){
            grid-row: auto;
            grid-column:1/-1;
            transform: translateY(-3vw);
            width:50%;
            margin: 0 auto 0 0 0;
        }

   
    }



    .aboutDescription{
        grid-column: 8/15;
        grid-row: 1/6;
        display: flex;
        place-self: flex-start;
        margin: 10vw 0 auto 3vw;
        width:94%;
        height: auto;
        z-index: 2;

        @include respond (desktop){
            margin: 8vw 0 auto 3vw;
         }

         @include respond (desktopXS){
            width:100%;
            grid-column: 3/15;
            grid-row: 12/-1;
            margin: 12vw auto 0 auto;
         }
    
        
    }


    .aboutMedia{
        grid-column: 11/-1;
        grid-row: 1/-1!important;
        width:100%;
        height: auto;
        margin: auto auto 0 auto;
        z-index: 2;
        
        


        @include respond (desktopXS){
            grid-column: 8/16;
            grid-row:9/12;
            width:97%;
            margin-top: 4vw;
         }
    }
}

img{
    width:100%;
    height: auto;
}