
@import 'src/styles/layout';

.featuredVideoSection{
    position: relative;
    z-index: 1;
    width:100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;
    text-align: center;
    margin-bottom: 64vw;

    @include respond (desktopL){
        //max-height: 60rem;
     }


    @include respond (desktop){
        //max-height: 48rem;
     }
 

    @include respond (desktopXS){
       //max-height: 36rem;
    }

     @include respond (tabletHorizontal){
        //max-height: 38rem;
        min-height: 50vh;
        margin-bottom: 117vw;
    }


    @include respond (tabletMediumHorizontal){
        //max-height: 28rem;
    }

    @include respond (mobile){
        //max-height: 22rem;
        margin-bottom: 137vw;
    }

    @include respond (mobileXS){
        //height: 50vh;
        margin-bottom: 150vw;
    }

    @include respond (mobileLandscape){
        //max-height: 28rem;
        margin-bottom: 90vw;
    }







    .featuredVideo{
        width: 77%;
        z-index: 2;
        position: absolute;
        transform-origin:center;
        top:9.7%;
        height: auto;

        @include respond (tabletHorizontal){
            top:12%;
            width:90%;
        }

        @include respond (tabletMediumHorizontal){
        }


        @include respond (mobileXS){
            top:20%;
        }

        @include respond (mobileLandscape){
            width: 77%;
        }

    }


}