@import 'src/styles/layout';


.contact{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .contactSection{
        display: grid;
        place-items: center;
        place-content: center;
        width:100%;
        height: auto;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin-bottom:6vw;
   
    }


    @include respond (tabletMediumHorizontal){
        margin-bottom:10vw;
    }
    
    .contactSectionImage{
        width:100%;
        display: flex;
        overflow-x: hidden;
        

        img{
            width:100%;
            height: auto;
        }
    }
}


.linksWrapper{
    grid-column: 1/-1;
    grid-row: 10/11;
    width:100%;
    place-self: center;
    place-items: center;
    place-content: center;
    display: flex;

    

    .contactLink{
        margin: auto 2vw;
        display: flex;
        text-transform: uppercase;

        @include respond (tabletHorizontal){
            margin: auto 5vw;
        }
    }
}

.contactSectionContent{
    grid-column: 1/-1;
    grid-row: 1/10;
    width:70%;
    display: grid;
    height: auto!important;
    margin: auto;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1.2vw;
    overflow: visible;

    @include respond (desktopXS){
        width:100%;
    }

    .headerOne{
        grid-column: 3/9;
        grid-row: 1/2;
        width: auto;
        display: flex;
        place-content: center;
        place-items: center;

        @include respond (desktopXS){
            grid-column:2/9;
        }

        @include respond (tabletHorizontal){
            grid-column:1/9;
        }

        @include respond (tabletMediumHorizontal){
            grid-column:1/6;
            overflow-x: visible;
            place-items: flex-start;
            place-content: flex-start;
            place-self: flex-start;
            text-align: left;
        }

    }

    .headerTwo{
        grid-column: 5/14;
        grid-row: 2/3;
        width: auto;
    }

    .headerThree{
        grid-column: 2/11;
        grid-row: 3/4;
        width: auto;
        display: flex;
        place-content: center;
        place-items: center;
        margin-bottom: 1.6vw;


        @include respond (desktopXS){
            grid-column: 1/10;
            margin-bottom: 3vw;
        }

        @include respond (tabletHorizontal){
            grid-column: 2/11;
            margin-bottom: 4vw;
            place-content: flex-start;
            place-items: flex-start;
        }

        @include respond (tabletMediumHorizontal){
            //margin-bottom: 4vw;
            grid-column:1/11;
        }

    }

    .paragraph{
        grid-column: 9/15;
        grid-row: 1/2;
        width:70%;
        min-width: 26rem;
        text-transform: uppercase;
        display: flex;
        place-content: center;
        place-items: center;
        place-self: center;


        @include respond (desktop){
            min-width: 22rem;
        }

        @include respond (desktopXS){
            grid-column: 8/14;
            min-width: auto;
            width:90%;
        }

        @include respond (tabletHorizontal){
            width:100%;
            grid-column: 8/15;
        }

        @include respond (tabletMediumHorizontal){
            margin-bottom: 2vw;
            grid-column:7/-1;
            place-items: flex-end;
            place-content: flex-end;
            place-self: flex-end;
        }

   
    }


    
}

