@import 'src/styles/layout';

.sectionTestimonial{
    margin:0 auto 14vw auto;

    @include respond (desktopXS){
        margin:10vw auto 20vw auto;
    }
}

.sectionTestimonialProject{
    margin:10vw auto 0 auto;


    
}

 .quoteIcon{
    width:14vw;
    height: auto;
    display: flex;

    path{
        width:100%;
        height: auto;
    }
}

.testimonialWrapper{
    width:auto;
    display: flex;
    flex-direction: column;
    margin: auto;
 
    
   

    .testimonialText{
        display: flex;
        place-content: center;
        text-align: center;
        margin: auto;
        position: relative;
        z-index: 1;
        margin-bottom: 1vw;

        @include respond (desktop){
            margin-bottom: 5vw;
        }
        

        .testimonialTextPortable{
            width:100%;
            display: flex;
            flex-direction: column;
            place-items: center;
            text-align: center;
            
            p{
                line-height: 1.4;
            }
        }



        .quoteIconProject{
            position: absolute;
            z-index: -1;
            top:22%;
            left:50%;
            transform: translate(-50%, -50%);
            margin-top: 2vw;
           
        }

      
    }

    .testimonialTextHome{
        width:94vw;

        @include respond (desktop){
            //width:78vw;
            width:100%;
            margin-bottom: 5vw;
        }
        
        .quoteIconLeft{
            place-self: flex-start;
            transform: translateX(7vw);
           
        }

        .quoteIconRight{
         place-self: flex-end;
            transform: translate(-11.7vw, 5.7vw);

            @include respond (desktop){
                transform: translate(-9vw, 5.7vw);
            }
           
        }

       
    }

    .testimonialTextProject{
        width:72vw;


        @include respond (desktop){
            width:80vw;
        }


        .quoteIconProject{
            position: absolute;
            z-index: -1;
            top:22%;
            left:50%;
            transform: translate(-50%, -50%);
            margin-top: 2vw;
           
        }

      
    }


   


    .clientsDetails{
        display: flex;
        flex-direction: column;
        place-self: center;
        place-items: center;
        place-content: center;

        .testimonialServicesList{
            display: flex;

            .serviceSingle{

                display: flex;
                padding-left: 2rem;
                font-style: italic;
                
            }
        }
    }
}




.testimonialImage{
    width:5vw;
    height: 5vw;
    border-radius: 50rem;
    margin-bottom: 1vw;

    @include respond (desktopXS){
        width:12vw;
        height: 12vw;
        margin-bottom: 1rem;
    }
}


