
@import 'src/styles/layout';


.sectionContentWrapper{

    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;


    @include respond (desktopXS){
            flex-direction: column;
            transform: translateY(-4vw);
    }

   .mediaDescriptionWrapper{
        flex-basis: 52%;
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        place-items: flex-end;
        //padding-top: 22vh;
        padding-top: 9vw;

        @include respond (desktop){
            flex-basis: 55%;
            padding-top: 7vw;
        }

        @include respond (desktopXS){
            padding-top: 0;
            flex-basis: 100%;
        }


        

        .aboutMedia{
            width:77%;
            height: auto;
            display: flex;
            flex-direction: column;
            order:2;
            //margin-top: 24vh;
            margin-top: 11vw;

            @include respond (desktop){
                margin-top: 9vw;
            }

            @include respond (desktopXS){
                width:55%;
                order:1;
                margin-top: 0;
                transform: translateY(-14vw);
                z-index: 2;
            }

            @include respond (tabletHorizontal){
                width:60%;
            }

            @include respond (mobile){
                width:85%;
                transform: translateY(-7vw);
            }


            @include respond (mobileXS){
                width:80%;
            }
            
        }
   }


    

    .aboutImageMain{
        flex-basis: 37%;
        width:100%;
        height: auto;
        z-index: 1;
        display: flex;
        place-self: flex-start;

        @include respond (desktopXS){
            width:55%;
        }

        @include respond (tabletHorizontal){
            width:60%;
        }

        @include respond (mobile){
            width:82%;
        }

        @include respond (mobileXS){
            width:85%;
        }

        @include respond (mobileXS){
            width:75%;
        }
   
    }



   

 
}

.image{
    width:100%;
}