.navbar{
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0%;
    left:0%;
    padding: 1vw 4vw;
    z-index: 9999;
}

.branding{
    position: absolute;
    transform: translate(-50%, -50%);
    top:60%;
    left:50%;
    z-index: 101;
}
.buttonsWrapper{
    display: flex;
}

.buttonsWrapper :first-child{
    margin-right: 2vw;
    display: flex;
    place-self: center;
    cursor: pointer;
}



.themeToggler{
    position: relative;
    z-index: 999;
  }





