@import 'src/styles/layout';

.navbar{
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0%;
    padding: 2vw 4vw;
    z-index: 9999;

    @include respond (desktopXS){
        padding: 2.6vw 6vw;
    }

    @include respond (tabletMediumHorizontal){
        padding: 5vw 6vw;
    }

}

.branding{
    position: absolute;
    transform: translate(-50%, -50%);
    top:60%;
    left:50%;
    z-index: 101;

    @include respond (desktopXS){
        top:45%;
    }
}
.buttonsWrapper{
    display: flex;

}

.buttonsWrapper :first-child{
    margin-right: 2vw;
    display: flex;
    place-self: center;
    cursor: pointer;
}



.themeToggler{
    position: relative;
    z-index: 999;
  }





