@import 'src/styles/layout';


.menu{
    display: none;
    position: relative!important;
    z-index: 9;
    transition: all .6s ease;
    visibility: hidden;
    opacity: 0;
    
}


.menuOpen{
    background-color: inherit;
      position: fixed;
      top:-100%;
      left:0;
      height: 0;
      width:100vw;
      z-index: 9;
      transition: all .6s ease-out;
  }


.linkImage{
    position: absolute!important;
    z-index: 101;
    transition: all .6s ease;
}



.linkImageLeft{
    top:7vw!important;
    left:4vw!important;

    @include respond (desktopXS){
        left:6vw!important;
    }




}

.linkImageRight{
    bottom:5vw!important;
    right:4vw!important;

    @include respond (desktopXS){
        right:6vw!important;    
    }

}

.menuImageDefault{
    z-index: 99;
    width:17vw;
    visibility: visible;
    opacity: 1;
    position: absolute;


    @include respond (tabletHorizontal){
        width:26vw;
    }
}






.menuLinks{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width:100%;
    height: 100%;
    transition: all .6s ease;
    //animation: menu 1s backwards;
    position: relative!important;
    z-index: 9;
    

    .menuSingleLink{
        place-self: center;
        place-items: center;
        place-content: center;
        width:100%;
        display: flex;
        transition: all .6s ease;
        padding-bottom: .8%;
        //animation: text 1s backwards;

      
        
   

        a{
            font-style: normal;
            text-align: center;
            width: 100%;
            height: auto;
            display: flex;
            place-self: center;
            place-items: center;
            place-content: center;
            transition: all .6s ease;
            color:inherit;

            .menuIconWrapper{
                visibility: hidden;
                opacity: 0;
                transition: all .4s linear;
                width:auto;
            }

        }

        .linkImage{
            visibility: hidden;
            opacity: 0;
            width:0vw;
            
        }
        
        &:hover{

        

            a{
                //font-style: italic;
                color: $color;
                transform: translateX(2%);

                .menuIconWrapper{
                    visibility: visible;
                    opacity: 1;
                    rotate: 65deg;
                }
        

            }

            .linkImage{
                visibility: visible;
                opacity: 1;
                width:17vw;

                @include respond (tabletHorizontal){
                    width:26vw;
                }
            }
        }
    }

    
}




.socialMediaLinks{
    position: absolute;
    bottom: 5vw;
    left:4vw;
    display: flex;
    width:100%;
    z-index: 100;


    @include respond (desktopXS){
        left:6vw;
    }

    .socialMediaLink{
        width:auto;
        display: flex;
        justify-content: space-between;

        
        a{
            display: flex;
            padding-right: 3rem;
        }
    }
}



@keyframes menu{
    0%{
        display: none;
        opacity: 0;
        transform: translateY(20%)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}


@keyframes text{
    0%{
        display: none;
        opacity: 0;
        transform: translateY(5%)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
