@use 'src/styles/layout';


.menu{
    display: none;
    position: relative!important;
    z-index: 9;
    transition: all .6s ease;
    visibility: hidden;
    opacity: 0;
    
}


.menuOpen{
    background-color: inherit;
      position: fixed;
      top:0;
      left:0;
      height: 100vh;
      width:100vw;
      z-index: 9;
      transition: all .6s ease-out;
  }


.linkImage{
    position: absolute!important;
    z-index: 101;
    transition: all .6s ease;
}

.menuLinks{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width:100%;
    height: 100%;
    transition: all .4s linear;
    animation: menu 1s backwards;
    

    .menuSingleLink{
        place-self: center;
        place-items: center;
        place-content: center;
        width:100%;
        display: flex;
        //transition: all .4s linear;
        padding-bottom: .8%;
        animation: text 1s backwards;

      
        
   

        a{
            font-style: normal;
            text-align: center;
            width: 100%;
            display: flex;
            place-self: center;
            place-items: center;
            place-content: center;
            transition: all .4s linear;
            color:inherit;

            .menuIconWrapper{
                visibility: hidden;
                opacity: 0;
                transition: all .4s linear;
                width:auto;
            }

        }

        .linkImage{
            visibility: hidden;
            opacity: 0;
            width:0vw;
            
        }
        
        &:hover{

        

            a{
                //font-style: italic;
                color: layout.$color;
                transform: translateX(2%);

                .menuIconWrapper{
                    visibility: visible;
                    opacity: 1;
                    rotate: 65deg;
                }
        

            }

            .linkImage{
                visibility: visible;
                opacity: 1;
                width:17vw;
            }
        }
    }

    
}

.menuImageDefault{
    z-index: 99;
    width:17vw;
    visibility: visible;
    opacity: 1;
    position: absolute;
}




.linkImageLeft{
    top:10%!important;
    left:3%!important;
}

.linkImageRight{
    bottom:5%!important;
    right:3%!important;
}




.socialMediaLinks{
    position: absolute;
    bottom: 5%;
    left:3%;
    display: flex;
    width:100%;
    z-index: 100;
    text-transform: uppercase;

    .socialMediaLink{
        width:auto;
        display: flex;
        justify-content: space-between;

        
        a{
            display: flex;
            padding-right: 3rem;
        }
    }
}



@keyframes menu{
    0%{
        display: none;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20%)
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0)
    }
}


@keyframes text{
    0%{
        display: none;
        opacity: 0;
        visibility: hidden;
        transform: translateX(5%)
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translateX(0)
    }
}
