@use 'src/styles/abstracts' as *;

    .header{
        width:100%;
        display: flex;
        place-items:center;
        place-content: space-between;
        flex-direction: column;

        .headerWrapper{
            display: flex;
            flex-direction: column;
            place-content: flex-start;
            place-items: flex-start;
            place-self: flex-start;
            width:80%;

            @include respond (mobile){
                width:100%;
            }


         


            h3{
                place-content: flex-start;
                place-items: center;
                place-self: flex-start;
                text-align: left;
            
            

            }
        }




        a{
            place-self: flex-end;

            @include respond (desktopXS){
                margin-top: 1vw;
            }

            @include respond (tabletHorizontal){
                margin-top: 6vw;
            }
            
            @include respond (mobile){
                margin-top: 14vw;
            }
        }
        
    }