button,
a{
    display: flex;
    justify-content: space-between;
    place-content: center;
    
    .arrow{
        display: flex;
        height: auto;
        color: inherit;
        place-self: flex-end;
        transition: all .6s ease;

        svg{
            width:100%;
            height: auto;

            path{
                width:100%;
                height: auto;
            }

        }


    }

    &:hover{
        .arrow{
            display: flex;
            height: auto;
            color: inherit;
            place-self: flex-end;
            visibility: visible;
            opacity: 1;
            rotate: -45deg;
            transition: all .6s ease;
    
            svg{
                width:100%;
                height: auto;
    
                path{
                    width:100%;
                    height: auto;
                }
    
            }
    
    
        }
    }
    
}


.pageIcon{
    width:2.4vw;
    min-width:1.4rem;
}


.projectNextIcon{
    width:2.4vw;
    min-width:1.4rem;
    place-self: center!important;
    place-content: center!important;
}

.linkIcon{
    width:1.1vw;
    place-self: center;
    place-content: center;
    margin:auto 0 auto calc(.4rem + .8vw);
    min-width:1rem;
}

