.btnWrapper{
    width:100%;
    height: auto;
    display: flex;
    place-content: center;
    place-self: center;

    svg{
        width:100%;
        height: auto;
    }
}


.bannerBtn{
    display: flex;
    place-content: center;
    place-self: center;
    place-self: center;
    margin-top: 7vw;
    width:10vw;
}

.introBtn{
    display: flex;
    place-content: center;
    place-self: center;
    place-self: center;
    margin-top: 4vw;
    width:10vw;

}



