@import 'src/styles/layout';


.btnWrapper{
    width:100%;
    height: auto;
    display: flex;
    place-content: center;
    place-self: center;

    svg{
        width:100%;
        height: auto;
    }
}


