@import 'src/styles/layout';
.description{
    width:100%
}

.projectDescription{
    margin: 10vw 0 auto auto;

    @include respond (desktopXS){
        margin: 12vw 0 12vw auto;
        width:76%;
    }


    @include respond (tabletHorizontal){
        width:84%;
    }

    @include respond (mobile){
        width:93%;
        margin: 20vw 0 20vw auto;
    }

    @include respond (mobileXS){
        width:100%;
    }

    
}

.aboutDescription{

    display: flex;
    place-self: flex-start;
    margin: auto auto auto 0;
    width:80%;
    flex-basis: auto;
    height: auto;
    z-index: 2;
    order:1;

    @include respond (mobile){
        width:93%;
        margin: 8vw 0 auto auto;
        place-self: flex-end;
    }

    @include respond (mobileXS){
        width:100%;
    }
}
