@use 'src/styles/abstracts' as *;

.errorImageWrapper{
    position: absolute;
    bottom:0;
    right:0;
    width:44vw;
    opacity: .7;
    z-index: -1;

    svg{
        width:100%;
        height: auto;
    }

    @include respond (tabletHorizontal){
        width:87vw;
        margin: auto;
        right:auto;
    }

    @include respond (mobileLandscape){
        width:44vw;
    }
}