@use 'src/styles/abstracts' as *;

.footer{
    height: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    //border-top: layout.$border;
    //padding-top: 6vw;
    margin-top: 3vw;

    @include respond (mobile){
        margin-top: 12vw;
    }


    p{
        text-align: center;
    }
}

.footerLinksWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    width: 100%;
    place-content: center;
    place-items: center;
    place-self: center;

    /*.footerLink{
        display: flex;
        width: auto;
        margin-right: 2vw;

        a{
            width: auto;
            display: flex;
            transition: all .4s linear;

            &:hover{
                color:$color;
                transform: translateY(-20%);
            }
        }

        &:last-child{
            span{
                display: none;
            }
        }

    }*/
}

