@import 'src/styles/layout';


.icon{

    svg{
        width:100%;
        height: auto;

        path{
            width:100%;
            height: auto;
        }

    }
}

a{
    .menuLinkIcon{
        display: flex;
        visibility: hidden;
        width: 6.4vw;
        height: auto;
        opacity: 0;
        padding: 0 2%;
        transition: all .4s linear;

    }
}


a{
    &:hover{

        .menuLinkIcon{
            visibility: visible;
            width: 6.4vw;
            height: auto;
            opacity: 1;
            padding: 0 2%;
            transition: all .4s linear;
            min-width: 1.77rem;
        
        }

    }
}

.sectionIcon{
    width: 2.7vw;
    display: flex;
    position: relative;
    z-index: 2;
    min-width: 1.77rem;

    @include respond (desktop){
        width: 2.7vw;
    }





}

.sectionServiceIcon{
    width: 2vw;
    height: auto;
    display: flex;
    margin: auto 4vw;
    min-width: 1.3rem;


    @include respond (desktop){
        width: 2.7vw;
    }

}


