@import 'src/styles/layout';


.scrippedTextWrapper{
    width:24vw;
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
    margin-top: 1vw;


    @include respond (desktop){
        width:28vw;
    }


    @include respond (desktopXS){
        width:36vw;
    }

    svg{
        width:100%;
        height: auto;

        path{
            width:100%;
            height: auto;
        }

    }
}


.scrippedTextContact{
    grid-column: 6/10;
    grid-row: 6/10;
    display: flex;
    place-self: center;
    place-content: center;
    place-items: center;
}


.scrippedTextAbout{
    /*grid-column: 7/12;
    grid-row: auto;*/
    display: flex;
    place-self: center;
    place-content: center;
    place-items: center;
    margin-left: 28vw;
}