@use 'src/styles/abstracts' as *;


.scrippedTextWrapper{
    width:24vw;
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
    margin-top: 1vw;
    height: auto;


    @include respond (desktop){
        width:28vw;
    }


    @include respond (desktopXS){
        width:36vw;
        position: relative;
        z-index: 2;
    }

    @include respond (tabletHorizontal){
        width:40vw;
    }

    @include respond (tabletMediumHorizontal){
        width:44vw;
    }

    @include respond (mobile){
        width:54vw;
    }


    @include respond (mobileXS){
        width:56vw;
    }

    @include respond (mobileLandscape){
        width: 40vw;
    }

    svg{
        width:100%;
        height: auto;

        path{
            width:100%;
            height: auto;
        }

    }
}


.scrippedTextContact{
    grid-column: 6/10;
    grid-row: 6/10;
    display: flex;
    place-self: center;
    place-content: center;
    place-items: center;

    @include respond (mobile){
        grid-row: 6/9;
        margin-top: 6vw;
    }
}


.scrippedTextAbout{
    /*grid-column: 7/12;
    grid-row: auto;*/
    display: flex;
    place-self: center;
    place-content: center;
    place-items: center;
    margin-left: 27vw;

    @include respond (desktop){
        margin-left: 25vw;
    }

    @include respond (mobile){
        margin-left: 30vw;
    }
}