@import 'src/styles/layout';


.videoContainer{
    width: auto;
    height: auto;
    display: flex;
    place-items: center;
    place-content: center;
    place-self: center;
    flex-direction: column;
    transition: all .8s ease-out;


    .video{
        width:100%;
        height: auto;
        display: flex;
        outline: unset!important;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-appearance: none;
        border: none;
        outline: none !important;
        box-shadow: none;
        margin: auto;
    
    }



    figcaption{
        margin-top: 1vw;
    }
    

   
}





.projectPrototype{
    flex-basis: 100%;
    width: 100%;
    height: auto;
    place-self: flex-end;
    margin: auto 0 0 0;
  
}


.prototypeWrapper{
    width:70vw;
    height: auto;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
 
}

.focusAreaMedia{
    width:10vw;
    height: auto;
    margin: auto 0vw;

    @include respond (desktop){
        width:13vw;
    }

    @include respond (tabletHorizontal){
        width:16vw;
    }
}



  
article{

    .itemCardMedia{
        position: fixed!important;
        top:-2.8vw!important; 
        left:32vw!important;
        width:25vw;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        transition: all .8s ease-out;


        @include respond (desktop){
            top:-1vw!important; 
          }


        @include respond (desktopXS){
            left:40vw!important;
          }


          @include respond (tabletHorizontal){
            top:-1.4vw!important;
            width:29vw;
            left:36vw!important;
          }

          @include respond (mobile){
            width:44vw;
            left:30vw!important;
          }
        
      
    }


    .serviceMedia{
        position: absolute;
        top:50%;
        left:27%; 
        transform: translate(-50%, -50%);
        width:16vw;
        opacity: 0;
        visibility: hidden;
        transition: all .6s ease;
    }

  


.projectPrototype{
    flex-basis: 100%;
    width: 100%;
    height: auto;
    place-self: flex-end;
    margin: auto 0 0 0;
  
}
  
    &:hover{
  
      .itemCardMedia{
        visibility: visible;
        opacity: 1;
      }

      .serviceMedia{
        opacity: 1;
        visibility: visible;
    }
     
    }
  }
  
  

