
.gallerySwiper{
    height: auto;
    width:auto;
    display: flex;

}

.swiper{
    height: auto; 
    width: 100%;
    margin: auto;

    
}

.slideGallery{
    width:100%;
    height: auto;

    a{
        width:100%;
        .swiperImage{
            width:70vw;
        }
    }
}
