@import 'src/styles/layout';

.sectionServices{
    display: flex;
    flex-direction: column;
    margin:auto;
    width:auto;
    height: auto;
    position: relative;
    z-index: 1;  

    @include respond (desktopXS){
        margin: 0 auto 0 auto;
    }

    

    .sectionServicesHeader{
        margin:2vw auto 7vw auto;

        @include respond (desktopXS){
            margin-bottom: 10vw;
        }

        @include respond (tabletMediumHorizontal){
            margin-bottom: 14vw;
        }

        @include respond (mobile){
            margin:6vw auto 20vw auto;
        }
    
    }

/*
    p{
        margin: 0 4vw 5vw 3vw;

        @include respond (desktopXS){
            margin: 0 6vw 8vw 4vw;
         }

         @include respond (tabletHorizontal){
            margin: 0 6vw 8vw 4vw;
         }
    }*/

}



.serviceMarqueeCard{
    display: flex;
    width: 250%;
    overflow-x: hidden;
    padding: 4vw 0;
    border-top:$border;
    overflow-x: hidden;
    position: relative;
    z-index: 1;

    @include respond (desktopXS){
        width:300%;
    }

    @include respond (tabletMediumHorizontal){
        width:350%;
    }

    @include respond (mobile){
        width:380%;
        padding: 6vw 0;
    }

    &:last-child{
        border-bottom:$border;
    }


    .serviceMedia{
        position: absolute;
        top:50%;
        left:40%; 
        transform: translate(-50%, -50%);
        width:16vw;
        opacity: 0;
        visibility: hidden;
        transition: all .6s ease;
    }
    

    &:hover{

        .serviceMedia{
            opacity: 1;
            visibility: visible;
        }

    }

    .serviceWrapper{
        display: flex;
        place-items: center;
        place-self: center;
        width:auto;

        .serviceSingle{
            display: flex;
            width:auto;
            place-self: center;
            place-items: center;
            place-content: center;

            h4{ 
                display: flex;
                width: auto!important;
                place-content: center;
            }
         
        }

       
       
    }



}