
@import 'src/styles/layout';
.intro{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-top: 3vw;
    place-items: center;
    place-content: center;


    .introContent{
        display: flex;
        flex-direction: column;
        place-items: center;
        place-self: center;
        width:100%;
        height: auto;
        position: absolute;
        bottom:2vw;
        z-index: 2;

  

        .introBtn{
            place-content: center;
            margin-top: 1vw;
        }
    }

    .bannerGallery{
        position: absolute;
        top:8vw;
        left:0;
        width:100%;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        z-index: -1;

        @include respond (desktopL){
            height: 80vh;
            max-height:54rem;
        }

        @include respond (desktop){
            height:36rem;
            max-height: auto;

        }


        @include respond (desktopXS){
            height:46rem;
            max-height: auto;
            top:10vw;
        }

        @include respond (tablet){
            height:40rem;

        }

 
        :nth-child(1){
            grid-column: 7/10;
            grid-row: 5/9;
            z-index: 4;
            width:70%;
        }

        :nth-child(2){
            grid-column: 3/6;
            grid-row: 4/9;
            z-index: 6;
            width:70%;
        }

        :nth-child(3){
            grid-column: 4/7;
            grid-row: 1/4;
            z-index: 2;
            width:70%;
        }


        :nth-child(4){
            grid-column: 8/11;
            grid-row: 2/5;
            width:70%;
            z-index: 5;
        }

        :nth-child(5){
            grid-column: 5/8;
            grid-row: 8/-1;
            width:70%;
            z-index: 3;
        }




        .bannerGalleryWrapper{
            width:100%;
            height: auto;
            



            .bannerGalleryItem{

                width:100%;
                height: auto;

                .galleryImage{
                    width:100%;
                    height: auto;
    
                    img{
                        width:100%;
                        height: auto;
                    }
                }
            }


    

        }

      
    }
}
