@import 'src/styles/layout';

.sectionFeatured{
    height: auto;
    width:100%;
    display: flex;
    place-items: flex-start;
    place-content: flex-start;
    place-self: flex-start;
    flex-direction: column;
    margin-top: 6vw;
    position: relative;
    z-index: 1;

    @include respond (mobile){
        margin-top: 20vw;
    }

   


    .sectionFeaturedWrapper{
        display: flex;
        width:100%;
        margin-top: 8vw;
        place-items: space-between;
        gap:2vw;

        @include respond (desktopXS){
            width:100%;
            flex-wrap: wrap;
            place-content: flex-start;
        }

        @include respond (mobile){
            margin-top: 14vw;
        }

        @include respond (mobileXS){
            margin-top: 16vw;
        }

    }


}




.projectSwiperSlide{
    width:75vw;
    height: 100%;
    place-self: flex-start;

    @include respond (desktopXS){
        width:60vw;
        margin:0 0 2vw 0;
    }

    @include respond (mobile){
        width:100%;
    }

    @include respond (mobileXS){
        width:100%;
    }


    &:nth-child(2){

        @include respond (desktopXS){
            place-self: flex-end;
            margin:0 0 2vw auto;
       }

       @include respond (mobile){
            margin:10vw 0 10vw auto;
        }


        
    }



    .projectSwiperSlideContainer{
        display: flex;
        flex-direction: column;
        width:100%;
        height: auto;



            .projectSwiperSlideHeader{
                display: flex;
                flex-direction: column;
                place-items: center;
                place-content: center;
                text-align: left;
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                transition: all .6s ease;
                transform: translateY(2rem);

                @include respond (desktopXS){
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    place-items: flex-start;
                    place-content: flex-start;
               }



                span{
                    line-height: 1.1;
                    margin-top: 1vw;
                }
            }

            &:hover{

                .projectSwiperSlideHeader{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }


            }





            .projectSwiperSlideImage{
                display: flex;
                width:100%;
                height: auto;
                margin: auto;
                z-index: 1;
                position: relative!important;
                z-index: 1!important;



                img{
                    width:100%;
                    height: auto;
                }

                .projectSwiperSlideImageHover{
                    position: absolute;
                    top:40%;
                    left:50%;
                    transform: translate(-50%, -40%);
                    width:100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 2;
                     transition: all .6s ease;
                }


                &:hover{

                   .projectSwiperSlideImageHover{
                        opacity: 1;
                    }

                }
            }
    }
}



