
@import 'src/styles/layout';
.intro{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-top: 3vw;
    place-items: space-evenly;
    place-content: space-evenly;

    @include respond (tabletMediumHorizontal){
        //height: 87vh;
        
    }

    @include respond (mobile){
        //min-height: 40rem;
        height: 100vh;
    }

    @include respond (mobileLandscape){
        height: 100vh;
    }




    .introContent{
        display: flex;
        flex-direction: column;
        place-items: center;
        place-self: center;
        width:100%;
        height: auto;
        position: absolute;
        bottom:2vw;
        z-index: 2;


        @include respond (tabletHorizontal){
            bottom:8vw;
        }

        @include respond (mobile){
            bottom:23vw;
            width:96%;
        }

        @include respond (mobileXS){
            bottom:18vw;
        }

        @include respond (mobileLandscape){
            bottom:4vw;
        }


       


  

        .introBtn{
            place-content: center;
            margin-top: 2vw;
            opacity: 1;
            visibility: 1;

            @include respond (tabletHorizontal){
                margin-top: 2vw;
            }

            @include respond (mobile){
                margin-top: 8vw;
            }
        }
    }

    .bannerGallery{
        position: absolute;
        top:8vw;
        left:0;
        width:100%;
        height: 77vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        z-index: -1;

        @include respond (desktopL){
            max-height:48rem;
        }

        @include respond (desktop){
            max-height:36rem;

        }


        @include respond (desktopXS){
            top:12vw;
            height: 77vh;
            max-height:32rem;

        }
      

        @include respond (tabletHorizontal){
            top:16vw;
            max-height: 50rem;
            grid-gap:2vw;
            height:auto;
        }

        @include respond (tabletMediumHorizontal){
            top:20vw;
            max-height: 30rem;

        }



        @include respond (mobile){
            top:32vw;
            max-height: 22rem;
        }

        @include respond (mobileXS){
            max-height: 34vh;
            min-height: 14rem;
        }

        @include respond (mobileLandscape){
            top:4rem;
            height: 90vh;
            max-height: 16rem;
        }



 
        :nth-child(1){
            grid-column: 7/10;
            grid-row: 5/9;
            z-index: 4;

            @include respond (tabletHorizontal){
                grid-column: 6/11;
                grid-row: 6/10;

            }

            @include respond (mobileLandscape){
                grid-column: 7/10;
                grid-row: 5/9;
            }
    

        }

        :nth-child(2){
            grid-column: 3/6;
            grid-row: 4/9;
            z-index: 6;


            @include respond (tabletHorizontal){
                grid-column: 2/7;
                grid-row: 4/9;
                margin: 0 1.4vw 0 0;


            }

            @include respond (mobileLandscape){
                grid-column: 3/6;
                grid-row: 4/9;
            }

        }

        :nth-child(3){
            grid-column: 4/7;
            grid-row: 1/4;
            z-index: 2;


            @include respond (tabletHorizontal){
                grid-column: 4/9;


            }

            @include respond (mobileLandscape){
                grid-column: 4/7;
                grid-row: 1/4
            }

        }


        :nth-child(4){
            grid-column: 8/11;
            grid-row: 2/5;
            z-index: 5;


            @include respond (tabletHorizontal){
                grid-column: 7/12;
                grid-row: 3/7;
                margin: 2vw 0 0 1.4vw;
                
            }

            @include respond (mobileLandscape){
                grid-column: 8/11;
                grid-row: 2/5;
                
            }

        }

        :nth-child(5){
            grid-column: 5/8;
            grid-row: 8/-1;
            z-index: 3;


            @include respond (tabletHorizontal){
                grid-column: 3/8;
                grid-row: 8/-1;

            }

            @include respond (mobileLandscape){
                grid-column: 5/8;
                grid-row: 8/-1;
            }

        }




        .bannerGalleryWrapper{
            width:100%;
            height: auto;
            



            .bannerGalleryItem{

                width:100%;
                height: auto;



                .galleryImage{
                    width:100%;
                    height: auto;
    
                    img{
                        width:100%;
                        height: auto;
                    }
                }
            }


    

        }

      
    }
}
