
@import 'src/styles/layout';

.featuredVideoSection{
    position: relative;
    z-index: 1;
    width:100%;
    height: 100vh;
    margin: auto;
    display: flex;
    place-items: center;
    place-content: center;
    text-align: center;


    @include respond (desktop){
        max-height: 55rem;
     }
 

    @include respond (desktopXS){
       max-height: 40rem;
    }


}