
@import 'src/styles/layout';
.intro{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-top: 3vw;
    place-items: center;
    place-content: center;

    @include respond (tabletMediumHorizontal){
        height: 90vh;
    }

    @include respond (mobile){
        //min-height: 40rem;
    }

    @include respond (mobileLandscape){
        height: 24rem;
    }




    .introContent{
        display: flex;
        flex-direction: column;
        place-items: center;
        place-self: center;
        width:100%;
        height: auto;
        position: absolute;
        bottom:2vw;
        z-index: 2;


        @include respond (tabletHorizontal){
            bottom:12vw;
        }

        @include respond (mobile){
            bottom:20vw;
            width:96%;
        }

        @include respond (mobileLandscape){
            bottom:4vw;
        }


       


  

        .introBtn{
            place-content: center;
            margin-top: 2vw;
            opacity: 1;
            visibility: 1;

            @include respond (tabletHorizontal){
                margin-top: 2vw;
            }

            @include respond (mobile){
                margin-top: 8vw;
            }
        }
    }

    .bannerGallery{
        position: absolute;
        top:7vw;
        left:0;
        width:100%;
        height: 77vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        z-index: -1;

        @include respond (desktopL){
            max-height:48rem;
        }

        @include respond (desktop){
            max-height:36rem;

        }


        @include respond (desktopXS){
            top:12vw;
            height: 77vh;
            max-height:32rem;

        }


       

        @include respond (tabletHorizontal){
            top:17vw
        }

        @include respond (tabletMediumHorizontal){
            max-height:24rem;
            top:20vw

        }

        @include respond (mobile){
            top:26vw;
            max-height: 34vh;
            min-height: 18rem;

        }

        @include respond (mobileXS){
            max-height: 34vh;
            min-height: 14rem;
        }

        @include respond (mobileLandscape){
            top:10vw;
            height: 60vw;
            max-height: 16rem;
        }

 
        :nth-child(1){
            grid-column: 7/10;
            grid-row: 5/9;
            z-index: 4;
            width:70%;
        }

        :nth-child(2){
            grid-column: 3/6;
            grid-row: 4/9;
            z-index: 6;
            width:70%;
        }

        :nth-child(3){
            grid-column: 4/7;
            grid-row: 1/4;
            z-index: 2;
            width:70%;
        }


        :nth-child(4){
            grid-column: 8/11;
            grid-row: 2/5;
            width:70%;
            z-index: 5;
        }

        :nth-child(5){
            grid-column: 5/8;
            grid-row: 8/-1;
            width:70%;
            z-index: 3;
        }




        .bannerGalleryWrapper{
            width:100%;
            height: auto;
            



            .bannerGalleryItem{

                width:100%;
                height: auto;

                .galleryImage{
                    width:100%;
                    height: auto;
    
                    img{
                        width:100%;
                        height: auto;
                    }
                }
            }


    

        }

      
    }
}
