
@import 'src/styles/layout';

.sectionGallery{
    display: flex;
    width:100%;
    height: auto;
    flex-wrap: wrap;
    place-content: space-between;
    margin: 12vw auto 12vw auto;
    flex-wrap: wrap;



    @include respond (desktopXS){
        margin: 16vw auto 16vw auto;
    }



    @include respond (tabletMediumHorizontal){
        margin: 20vw auto 20vw auto;

    }

    @include respond (mobile){
        margin:26vw auto 26vw auto;
    }


    @include respond (mobileXS){
        margin:26vw auto 32vw auto;
    }

    .projectMockup{
        display: flex;
        flex-basis: 47%;
        width:100%;
        height: auto;
        place-content: space-between;
        margin-bottom: 8vw;

        /*@include respond (tabletHorizontal){
            flex-basis: 48%;
        }

        @include respond (mobile){
            flex-basis: 100%;
        }*/




        @include respond (mobile){
            margin-bottom: 4vw;
            flex-basis: 47.7%;
        }

        &:nth-child(3){
            flex-basis: 75%;
            place-self: center;
            place-content: center;
            place-items: center;

            
            @include respond (mobile){
                flex-basis: 100%;
            }
        }



        .image{
            width:100%;
            height: auto;
        }

    }



}
   




