.featuredVideoSection{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    margin: auto;
    display: flex;
    place-items: center;
    place-content: center;
    text-align: center;

    .featuredVideo{
        width:70%;
    }
}