@import 'src/styles/layout';

.sectionFocus{
    height: auto;
    margin: 0vw auto 14vw auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    position: relative;
    z-index: 1;

    @include respond (desktopXS){
        margin: 0 auto 20vw auto;
    }

    width:100%;


    h3{
        color:inherit;
        width:84%;
        margin: auto;
        text-align: center;
        margin-bottom: 6vw;

        @include respond (desktop){
            width:92%;
        }

        @include respond (desktopXS){
            margin-bottom: 12vw;
        }

    }

    

}


.focusAreasWrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    place-items: center;
    place-self: center;
    place-content: center;
    width:100%;


    
    .focusArea{
        display: flex;
        place-items: center;
        place-content: center;
        place-self: center;
        margin-top: 1vw;
        width:auto;


        h4{
            width:auto;
            line-height: 1;
            display: flex;
            
            
        }



        .focusAreaMedia{
            width:10vw;
            height: auto;
            margin: auto 3vw;

            @include respond (desktop){
                width:13vw;
            }

            @include respond (tabletHorizontal){
                width:16vw;
            }
        }

        &:nth-child(odd){

            h4{
               order:2;
               
            }
    
    
    
            .focusAreaMedia{
                order:1;
            }

        }

        
        
    }
}
