@import 'src/styles/layout';

.sectionServices{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    width:auto;
    height: auto;
    position: relative;
    z-index: 1;  

    @include respond (desktopXS){
        margin: 0 auto 0 auto;
    }


    p{
        margin: 3vw 3vw 5vw 3vw;

        @include respond (desktopXS){
            margin: 8vw 4vw 8vw 4vw;
         }

         @include respond (tablet){
            margin: 0 4vw 8vw 4vw;
         }
    }

}



.serviceMarqueeCard{
    display: flex;
    width: 250%;
    overflow-x: hidden;
    padding: 4vw 0;
    border-top:$border;
    border-bottom:$border;
    overflow-x: hidden;
    position: relative;
    z-index: 1;

    @include respond (desktopXS){
        width:300%;
    }


    .serviceMedia{
        position: absolute;
        top:50%;
        left:40%; 
        transform: translate(-50%, -50%);
        width:16vw;
        opacity: 0;
        visibility: hidden;
        transition: all .6s ease;
    }
    

    &:hover{

        .serviceMedia{
            opacity: 1;
            visibility: visible;
        }

    }

    .serviceWrapper{
        display: flex;
        place-items: center;
        place-self: center;
        width:auto;

        .serviceSingle{
            display: flex;
            width:auto;
            place-self: center;
            place-items: center;
            place-content: center;

            h4{ 
                display: flex;
                width: auto!important;
                place-content: center;
            }
         
        }

       
       
    }



}