
@import 'src/styles/layout';

.sectionGallery{
    display: flex;
    width:100%;
    height: auto;
    flex-wrap: wrap;
    place-content: space-between;
    margin: 12vw auto 12vw auto;
    flex-wrap: wrap;
    gap:2vw;



    @include respond (desktopXS){
        margin: 16vw auto 16vw auto;
    }

    @include respond (tabletMediumHorizontal){
        margin: 20vw auto 20vw auto;
    }

    @include respond (mobile){
        margin:26vw auto 26vw auto;
        gap:10vw;
    }


    @include respond (mobileXS){
        margin:26vw auto 32vw auto;
    }

    .projectMockup{
        display: flex;
        flex-basis: 46%;
        width:100%;
        height: auto;
        place-content: space-between;

        @include respond (mobile){
            flex-basis: 90%;
            width:100%;
        }

        img{
            width:100%;
            height: auto;
        }

        &:nth-child(even){
            margin-top: 7vw;

            @include respond (mobile){
                margin: 0 0 0 auto;
            }
        }
    }



}
   




