
.sectionFeatured{
    height: auto;
    width:100%;
    display: flex;
    place-items: flex-start;
    place-content: flex-start;
    place-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 6vw;
    position: relative;
    z-index: 1;

    span{
        display: flex;
        place-self: flex-start;
        
    }

    .sectionFeaturedWrapper{
        display: flex;
        width:100%;
        margin-top: 12vw;
        place-items: space-between;
    }


}




.projectSwiperSlide{
    width:75vw;
    height: 100%;
    margin:auto 1vw;

    /*&:nth-child(2){
        transform: translateY(-2.5vw);
    }

    &:nth-child(3){
        transform: translateY(-5vw);
    }*/






    .projectSwiperSlideContainer{
        display: flex;
        flex-direction: column;
        width:100%;
        height: auto;
        position: relative!important;
        z-index: 1!important;



            .projectSwiperSlideHeader{
                display: flex;
                flex-direction: column;
                place-items: center;
                place-content: center;
                text-align: left;
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                transition: all .6s ease;
                transform: translateY(2rem);



                h4{
                    line-height: 1.1;
                    margin-top: 1vw;
                }
            }

            .projectSwiperSlideImageSecondary{
                position: absolute;
                top:75%;
                left:50%;
                transform: translate(-50%, -100%);
                width:100%;
                opacity: 0;
                z-index: 2;
                 transition: all .6s ease;
            }

            &:hover{

                .projectSwiperSlideHeader{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }


                .projectSwiperSlideImageSecondary{
                    opacity: 1;
                }



            }


            .projectSwiperSlideImage{
                display: flex;
                width:100%;
                margin: auto;
                z-index: 1;

                img{
                    width:100%;
                    height: auto;
                }
            }
    }
}



