
.sectionFeatured{
    height: auto;
    position: relative;
    z-index: 1;
    width:100%;
    display: flex;
    place-items: flex-start;
    place-content: flex-start;

    span{
        position: absolute;
        right:3%;
        top:0%;
        z-index: 2;
    }
}


.projectSwiper{
    //width:80vw!important;
    //margin-right: 100vw;
    height: 100vh;
    overflow-y: hidden;
    width:100%;
    place-self: flex-start;
    margin:0;
    padding: 0;
    

}



.projectSwiperSlide{
    height: 100%;
    width:80%;


    .projectSwiperSlideContainer{
        display: flex;
        flex-direction: column;
        width:100%;
        height: auto;


            .projectSwiperSlideHeader{
                display: flex;
                flex-direction: column;
                place-items: flex-start;
                place-content: flex-start;
                text-align: left;
                z-index: 2;



                h2{
                    line-height: 1.1;
                    margin-bottom: 3vw;
                }
            }


            .projectSwiperSlideImage{
                display: flex;
                width:70%;
                margin: auto;
                z-index: 1;

                img{
                    width:100%;
                    height: auto;
                }
            }
    }
}



