.banner{
    height: auto;

}


h1{
    height: 100vh;
    display: flex;
    place-self: center;
    place-items: center;
    place-content: center;
    position: relative;
    z-index: 1;

}

.bannerContent{
    display: flex;
    flex-direction: column;
    margin-bottom: 8vw;
    text-align: center;
}

.galleryBanner{
    display: block;
    visibility: visible;

    .gallerySmallImage{
        position: absolute;
        z-index: -1;
        height: auto;



        &:nth-child(1){
            bottom:0;
            left:0;
            width:19vw;
        }
        
        &:nth-child(2){
            top:0;
            right:0;
            width:19vw;
        }
        
        &:nth-child(3){
            top:60%;
            right:27%;
            width:14vw;
        }
        
        &:nth-child(4){
            bottom:60%;
            left:27%;
            width:14vw;
        }
        
    
    }


 

    
}


.bannerHeader{
    color:inherit;
    padding: 2% 0 1.6% 0;
    width:82%;
    margin: auto;

}


.bannerBtn{
    display: flex;
    width:10vw;
    place-self: center;
}