.banner{
    height: auto;
}

.bannerContent{
    display: flex;
    flex-direction: column;
    margin-bottom: 8vw;
    text-align: center;
}

.galleryBanner{
    display: block;
    visibility: hidden;

    .gallerySmallImage{
        position: absolute;
        z-index: -1;
        height: auto;
    
    }
    
}


.bannerHeader{
    color:inherit;
    padding: 2% 0 1.6% 0;
    width:82%;
    margin: auto;

}
