@use 'src/styles/layout';

.footer{
    height: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    //border-top: layout.$border;
    padding-top: 6vw;

    p{
        text-align: center;
    }
}

.footerLinksWrapper{
    display: flex;
    margin-bottom: 3vw;
    width: 100%;
    place-content: center;
    place-items: center;
    place-self: center;

    .footerLink{
        display: flex;
        width: auto;
        margin-right: 2vw;

        a{
            width: auto;
            display: flex;
            transition: all .4s linear;

            &:hover{
                color:layout.$color;
                transform: translateY(-20%);
            }
        }

        &:last-child{
            span{
                display: none;
            }
        }

    }
}

