@use 'src/styles/layout';


.pageShared{
    display: flex;
    flex-direction: column;
    width:100%; 
    position: relative!important;
    z-index: 1;
    
}

.itemCardImage{
  position: fixed;
  top:22vw; 
  left:3%;
  width:30vw;
}

.itemsList{
    margin-top: 7vw;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: auto;
    height: auto;
    margin-bottom: 7vw;
    width:100%;
  }
  
  
  .itemCard{
    grid-column: 9/-1;
    grid-row: auto;
    width:100%;
    height: auto;
    display: flex;
    border-bottom: layout.$border;
    padding: 2vw 0;

    .itemCardHeader{
        display: flex;
        justify-content: space-between;
        width:100%;

        h3{
          width: auto;
        }
    }

    a{
        width: 100%;
    }
    
  
  
    h3{
      line-height: 1;
      transition: all .4s linear;
    }
  
    .itemCardImage{
      visibility: hidden;
      opacity: 0;
    }
  
  
    &:hover{

      .itemCardImage{
        visibility: visible;
        opacity: 1;
      }
  
      h3{
        color: layout.$color;
        transform: translateX(2vw);
      }
    }
  }


  

  .pageFooterImage{
    width:100%;
    margin-top:6vw;
  
    img{
      width:100%;
    }
  }
  
  
  