@use 'src/styles/layout';


.pageShared{
    display: flex;
    flex-direction: column;
    width:100%; 
    height: auto;
    margin-top: 7vw;
    position: relative!important;
    z-index: 1!important;
    transform: translateY(0);


    .pageSharedHeader{
      display: flex;
    }

    .itemsList{
      height: auto;
      margin: 7vw 0 7vw auto;
      width:50vw;
      min-width: 50rem;
      place-self: flex-end;
  
      .description{
        width: 60%;
        margin-bottom: 1vw;
      }
    }
    
}

.video{
  width:100%;
  height: auto;
  display: flex;
  outline: unset!important;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  box-shadow: none;
  margin: auto;

}



  
  
.itemCard{
  width:100%;
  height: auto;
  display: flex;
  border-bottom: layout.$border;
  padding: 2vw 0;


  .itemCardMedia{
    position: fixed!important;
    top:23vw!important; 
    left:3%!important;
    width:30vw;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
  
    img{
      width:100%;
      height: auto;
    }
  }



  .itemCardHeader{
      display: flex;
      justify-content: space-between;
      width:100%;

      h3{
        width: auto;
        line-height: 1;
        transition: all .4s linear;
      }
  }


  &:hover{

    .itemCardMedia{
      visibility: visible;
      opacity: 1;
    }

    .itemCardHeader{
      display: flex;
      justify-content: space-between;
      width:100%;

      h3{
        color: layout.$color;
        transform: translateX(2vw);
      }
    }

   
  }
}


  

  .pageFooterImage{
    width:100%;
    margin-top:6vw;
  
    img{
      width:100%;
    }
  }
  
  
  