@import 'src/styles/layout';


.pageSingle{
    display: flex;
    flex-direction: column;
    width:100%; 
    height: auto;
    padding-top: 11vw;

    @include respond (desktopXS){
      padding-top: 16vw;
    }

    @include respond (tabletHorizontal){
      padding-top: 20vw;
    }

    @include respond (tabletMediumHorizontal){
      padding-top: 24vw;
    }


    @include respond (mobile){
      padding-top: 34vw;
    }

    @include respond (mobileXS){
      padding-top: 44vw;
    }


    .pageSingleHeader{
      display: flex;
      //flex-direction: column;
      //place-content: center;
      //text-align: center;
    }

    .itemsList{
      height: auto;
      margin: 4vw auto 7vw auto;
      width:62vw;
      place-self: flex-end;
      position: static!important;


      @include respond (desktopXS){
        width: 84%;
        margin: 7vw auto 10vw auto;
      }

      @include respond (mobile){
        width: 94%;
        margin: 14vw 0 16vw auto;
      }


      @include respond (mobileXS){
        width: 100%;
        margin: 14vw 0 20vw auto;
      }
  
      p{
        width: 55%;
        min-width: 27rem;
        margin-bottom: 4vw;


      @include respond (desktop){
        width: 65%;
      }

      @include respond (desktopXS){
        width: 80%;
        
      }

      @include respond (tabletHorizontal){
        min-width: auto;
        width: 84%;
        margin-bottom:6vw;

      }

      @include respond (mobile){
        width: 98%;
        margin-bottom:14vw;
      }

      @include respond (mobileXS){
        width: 100%;
        margin-bottom:16vw;
      }



  
      }

      .itemListWrapper{
        width:100%;
      
  


          
          
        .itemCard{
          width:100%;
          height: auto;
          display: flex;
          border-bottom:$border;
          padding: 2vw 0;
          position: relative;
          z-index: 1;

          @include respond (desktop){
            padding: 3vw 0;
          }

          @include respond (mobile){
            padding: 6vw 0;
          }


          // this class is also copied to video scss module
          .itemCardMedia{
            position: fixed!important;
            top:-2.8vw!important; 
            left:32vw!important;
            width:25vw;
            z-index: 99999;
            visibility: hidden;
            opacity: 0;
            transition: all .8s ease-out;


            @include respond (desktop){
              top:-1vw!important; 
            }


            @include respond (desktopXS){
              left:40vw!important;
            }

            @include respond (tabletHorizontal){
              top:-1.4vw!important;
              width:29vw;
              left:36vw!important;
            }

            @include respond (mobile){
              width:44vw;
              left:30vw!important;
              top:-2vw!important;
            }
          
            img{
              width:100%;
              height: auto;
            }
          }



          .itemCardHeader{
              display: flex;
              justify-content: space-between;
              width:100%;
              z-index: 9999999;

              h3{
                width: auto;
                line-height: 1;
                transition: all .8s ease-out;
              }
          }


          &:hover{

            .itemCardMedia{
              visibility: visible;
              opacity: 1;
            }

            .itemCardHeader{
              display: flex;
              justify-content: space-between;
              width:100%;

              h3{
                color: $color;
                transform: translateX(2vw);
              }
            }

          
          }
        }



      }
    }
    
}

.video{
  width:100%;
  height: auto;
  display: flex;
  outline: unset!important;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  box-shadow: none;
  margin: auto;

}



  

  .pageFooterImage{
    width:100%;
    margin-top:6vw;
  
 }
  
  
  