@use 'src/styles/layout';


.pageShared{
    display: flex;
    flex-direction: column;
    width:100%; 
    position: relative!important;
    z-index: 1;

    .pageSharedHeader{
      display: flex;
    }

    .itemsList{
      height: auto;
      margin: 7vw 0 7vw auto;
      width:50vw;
      min-width: 50rem;
      place-self: flex-end;
      position: static;
  
      .description{
        width: 70%;
        margin-bottom: 1vw;
      }
    }
    
}


  
  
.itemCard{
  width:100%;
  height: auto;
  display: flex;
  border-bottom: layout.$border;
  padding: 2vw 0;


  .itemCardImage{
    position: fixed!important;
    top:23vw; 
    left:3%;
    width:30vw;
    visibility: hidden;
    opacity: 0;
  }


  .itemCardHeader{
      display: flex;
      justify-content: space-between;
      width:100%;

      h3{
        width: auto;
        line-height: 1;
        transition: all .4s linear;
      }
  }


  &:hover{

    .itemCardImage{
      visibility: visible;
      opacity: 1;
    }

    .itemCardHeader{
      display: flex;
      justify-content: space-between;
      width:100%;

      h3{
        color: layout.$color;
        transform: translateX(2vw);
      }
    }

   
  }
}


  

  .pageFooterImage{
    width:100%;
    margin-top:6vw;
  
    img{
      width:100%;
    }
  }
  
  
  