.nextProjectSection{
    display: grid;
    width:70%;
    height: auto;
    margin:14vw 0 14vw auto;
}


.nextProjectHeader{
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    place-content: flex-start;
    text-align: left;
    z-index: 2;

    h3{
        line-height: 1;
        margin-bottom: 1vw;
    }
}


.nextProjectImage{
    display: flex;
    width:57%;
    margin: auto;
    z-index: 1;

    img{
        width:100%;
        height: auto;
    }
}