
.sectionFeatured{
    height: auto;
    position: relative;
    z-index: 1;
    width:100%;
    display: flex;
    place-items: flex-start;
    place-content: flex-start;

    span{
        position: absolute;
        right:3%;
        top:10%;
        z-index: 2;
    }
}


.projectSwiper{
    //width:80vw!important;
    //margin-right: 100vw;
    height: 100vh;
    width:65%;
    place-self: flex-start;
    margin: 0 auto 0 0 ;
    

}



.projectSwiperSlide{
    height: auto;
    width:100%;

    a{
        width: 100%;
    }
}