.projectBanner{
    width:100%;
    height: auto;
    margin: 7vw auto 4vw auto;
}


.projectBannerHeader{
    width:100%;
    display: flex;
    place-items: flex-end;
    margin-bottom: 1vw;
    flex-basis: auto;

    .header{
        width: auto;
    }

    .swiperHeader{

    }

    
  }
  
  
  .projectBannerDetails{
    width:auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    place-self: center;
    place-items: flex-start;
    margin:2vw 0 0% 7vw;
    justify-items: space-between;
  
    p{
      margin-bottom: 1rem;
    }
    
  }
  
  .projectImageContainer{
    width:100%;
  }

  .servicesList{
    display: flex;
    width: 100%;

    .serviceSingle{
      margin-right: 1vw;
    }
  }
  

