.sectionTestimonial{
    margin-top: 10vw;
}

 .quoteIcon{
    width:14vw;
    height: auto;

    path{
        width:100%;
        height: auto;
    }
}

.testimonialWrapper{
    width:auto;
    display: flex;
    flex-direction: column;
    margin: auto;
 
    
   

    .testimonialText{
        width:70vw;
        display: flex;
        place-items: center;
        text-align: center;
        margin: auto;
        position: relative!important;
        z-index: 1;
        margin-bottom: 1vw;
        

        .testimonialTextPortable{
            width:100%;
            display: flex;
            flex-direction: column;
            place-items: center;
            text-align: center;
        }

        .quoteIcon{
            position: absolute;
            z-index: -1;
            top:30%;
            left:50%;
            transform: translate(-50%, -50%);
           
        }

       
    }

   


    .clientsDetails{
        display: flex;
        flex-direction: column;
        place-self: center;
        place-items: center;
        place-content: center;

        .testimonialServicesList{
            display: flex;

            .serviceSingle{

                display: flex;
                padding-left: 2rem;
                font-style: italic;
                
            }
        }
    }
}




.testimonialImage{
    width:5vw;
    height: 5vw;
    border-radius: 50rem;
    margin-bottom: 1vw;
}
/*

.quoteIconLeft{
    top:0%;
    left:3%;
}

.quoteIconRight{
    bottom:-35%;
    right:13%;
}


.quoteIconRightProject{
    bottom:0%;
    right:13%;
}
*/


