@use 'src/styles/layout';


.icon{

    svg{
        width:100%;
        height: auto;

        path{
            width:100%;
            height: auto;
        }

    }
}

a{
    .menuLinkIcon{
        display: flex;
        visibility: hidden;
        width: 6.4vw;
        height: auto;
        opacity: 0;
        padding: 0 2%;
        transition: all .4s linear;

    }
}


a{
    &:hover{

        .menuLinkIcon{
            visibility: visible;
            width: 6.4vw;
            height: auto;
            opacity: 1;
            padding: 0 2%;
            transition: all .4s linear;
        
        }

    }
}

.sectionIcon{
    width: 2vw;
    display: flex;
    position: relative;
    z-index: 2;
}

.sectionServiceIcon{
    width: 2vw;
    height: auto;
    display: flex;
    margin: auto 4vw;
}


